* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: #fce138;
        margin: 0;
        /*Removed to add flex-box
        display: inline;*/
    }
    header a {
        text-decoration: none;
        color: #fce138;
    }
    header nav {
        /*Removed to add flex-box
        float: right;*/
        margin: 7px 0;
    }
    /*Adding for flexbox*/
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    /*Removing to add flexbox to the li elements
    header nav ul li {
        display: inline;
    }  */
    /*Adding flex-box items*/
    header nav ul li a {
        margin: 0 30px;
        font-weight: lighter;
        font-size: 1.55vw;
    }
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 
    footer h2 {
        /* Removing to add flexbox"
        display: inline;*/
        color: #024e76;
        font-size: 30px;
        margin: 0;
    }
    footer div {
        /*Removing to add flexbox
        float: right;*/
        line-height: 1.5;
        text-align: right;
    }  
    footer a {
        color: #024e76;
      }
section {
    padding: 60px;
    /*background-image: url("../images/hero-bg.jpg");*/
    }
/* Hero style start */      
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*Removing to add flexbox
    position: relative;
    height: 600px;*/
}

form {
    display: flex;  
    flex-direction: column;
    align-items: stretch;
}

.hero-form {
border: 3px solid #024e76;
background-color: #fce138;
color: #024e76;
padding: 20px;
/*Modifies edges of box*/
border-radius: 2%;
box-shadow: 1px 1px 7px gray;
/*Adding for flexbox*/
width: 40%;
margin: 3.5%;
/*Removing to add flex-box
width: 500px;
position: absolute;
bottom: 120px;
right: 140px;*/
}    
.hero-form p {
    margin: 5px 0 15px 0;
}
.hero-form h3 {
    margin: 0px;
    font-size: 24px;
}
.form-input {
    border: 1px solid #024e76;
    font-size: 18px;
    margin: 8px 0 15px;
    color: #024e76;
    /*Removed to add flexbox
    display: block;*/
    padding: 7px 5%;
    /* margin-bottom: 15px;
    margin-top: 8px; */
    border-radius: 10px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    background-color: #024e76;
    color: #fce138;
    /* display: block; */
    padding: 10px 20px;
    border: none;
    width: 30%;
    font-size: 1vw;
    text-align: center;
}
/*Added for flexbox*/
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}
    .hero-cta h2 {
        font-style: italic;
        font-size: 55px;
        color: #fce138;
    }


/* Hero style end */  
/* General use sections */
.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    /*Removed for flex box
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    display: inline-block; */
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.yellow-border {
    border-color: #fce138;
}
.blue-border {
    border-color: #39a6b2;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* End General Use section*/
/* Intro Sections What we do */
/*Removed entire section for flexbox    
 .intro {
    text-align: center;
}
    .intro p {
        line-height: 1.7;
        color: #39a6b2;
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    } */
/* Style for What you do*/
.steps {
    /*Removed for flex box
    text-align: center; */
    background: #fce138;
}
    /*Removed to add flexbox
     .steps div {
        margin-bottom: 80px;
    }
    .steps img {
        width: 15%;
        margin: 10px 0;
    }  */

    .step {
        margin: 50px auto;
        padding-bottom: 50px;
        width: 80%;
        border-bottom: 1px solid #39a6b2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
        .step h3 {
            color: #024e76;
            font-size: 46px;
            /*margin-top: 10px;*/
            flex: 1 30%;
        }
        .step-info{
            flex: 2 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .step-img {
            flex: 1 12%;
            margin-right: 20px;
          }
          .step-img img {
            max-width: 100%;
          }
        .step-text {
            flex: 12;
        }
        .step-text p {
            color: #39a6b2;
            font-size: 18px;
        }
    /*Removed to add flexbox
    .steps span {
        font-size: 38px;
    }*/
        .step-text h4 {
            font-size: 26px;
            line-height: 1.5;
            color: #024e76;
        }
/* Style for trainers */    
.trainers {
    /*Removed for flexbox
    text-align: center;*/
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .trainer {
        /*width: 900px;*/
        margin: 20px;
        background: #024e76;
        color: #fce138;
        /*overflow: auto;*/
        flex: 1;
    }
        .trainer img {
            width: 100%;
            /*float: left;*/
        }
            .trainer-bio {
                padding: 25px;
                /*float: left;*/
                /*width: 65%;*/
                line-height: 1.3;
            }
            .trainer-bio h3 {
                font-size: 28px;
                /*margin-bottom: 8px;*/
            }
            .trainer-bio h4 {
                font-weight: lighter;
                font-size: 22px;
                margin-bottom: 15px;
            }
            .trainer-bio p {
                font-size: 17px;
            }
.flex-row {
    display: flex;
}

/*Reach out section*/
 .contact {
    /*text-align: center;*/
    background-color: #024e76;
}
    .contact h2 {
        color: #fce138;
    }     

    .contact-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        .contact-info iframe {
            height: 400px;
        }
        .contact-info div {
            color: #fce138;
        }
        .contact-info > * {
            flex: 1;
            margin: 15px;
          }
          .contact-info p, .contact-info address {
            margin: 20px 0;
            line-height: 1.5;
            font-size: 16px;
            font-style: normal;
          }
          .contact-form input, .contact-form textarea {
              border: 1px solid #024e76;
              display: block;
              padding: 7px 15px;
              font-size: 16px;
              color: #024e76;
              width: 100%;
              margin-bottom: 15px;
              margin-top: 5px;
          }
          .contact-form button {
              width: 100%;
              border: none;
              background: #fce138;
              color: #024e76;
              text-align: center;
              padding: 15px 0;
              font-size: 16px;
          }

    /*.contact-div iframe {
         width: 400px;
         height: 400px;
    } 
    .contact-div div {
        display: inline-block;
        text-align: left;
        width: 410px;
        vertical-align: top; 
        margin: 30px 0 0 60px;
        color: white;
    }
    .contact-div h3 {
        color: #fce138;
        font-size: 32px;
      }
      .contact-div p, .contact-div address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
      }
      .contact-div a {
        color: #fce138;
      }*/
      /* REACH OUT STYLES END */